.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.login-left {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    height: 600px;
    border-radius: 3px;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #a6b6b9 !important;
}
.user_card {
    height: 500px;
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card_profile{
    height: 600px;
    width: 900px;
    margin-top: auto;
    margin-bottom: auto;
    background:x #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.user_card_profile2{
    height: 600px;
    width: 900px;
    margin-top: auto;
    margin-bottom: auto;
    background:#fff;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 162px;
    top: -60px;
    border-radius: 50%;
    background: #b8c4c9;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 142px;
    border-radius: 50%;
    border: 2px solid white;
}
.info {
margin-top: 100px;
    text-align: center;
}
.info-content {
    width: 100%;
}
.link_container {
margin-bottom: 10px;
}
.link_btn {
    width: 300px;
    height: 40px;
    background: #ffa801 !important;
    color: white !important;
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
}
.link_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.link_btn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.link_btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.offset-height {
height: 170px;
}
.profile {
    margin-right: auto;
    position: absolute;
}